<section class="container">
    <h4>Welcome to the User Management Page</h4>
    <p>
        Create, Read, Update and Delete users! Select <a href="/newuser">New User</a> or <a href="manageusers">Manage Users</a> to get started
    </p>
</section>
